/**
 * SCRIPTA Demo - Styles (Entrypoint)
 * 
 * Keep this file small: it only imports modular stylesheets.
 */

@import url("./styles-core.css");
@import url("./styles-panels.css");
@import url("./styles-editors.css");
@import url("./styles-entities.css");
@import url("./styles-forms.css");
@import url("./styles-nl.css");
@import url("./styles-blueprint.css");
@import url("./styles-wisdom.css");
@import url("./styles-book-preview.css");
@import url("./styles-modals-base.css");
@import url("./styles-modals-wizard.css");
@import url("./styles-modals-eval.css");
